<nav aria-label="Page navigation example">
    <ul class="flex items-center -space-x-px h-8 text-sm">
        {{ if .Paginator.HasPrev }}
            <li>
              <a href="{{ .Paginator.Prev.URL }}" class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-theme-muted bg-theme-background border border-e-0 border-theme-primary rounded-s-lg hover:bg-theme-surface hover:text-theme-secondary">
                <span class="sr-only">{{ T "previous" }}</span>
                <svg class="w-2.5 h-2.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                </svg>
              </a>
            </li>
        {{ end }}
      <li>
        <span class="flex items-center justify-center px-3 h-8 leading-tight text-theme-muted bg-theme-background border border-theme-primary hover:bg-theme-surface hover:text-theme-secondary">{{ .Paginator.PageNumber }}</span>
      </li>

      {{ if .Paginator.HasNext }}
        <li>
            <a href="{{ .Paginator.Next.URL }}" class="flex items-center justify-center px-3 h-8 leading-tight text-theme-muted bg-theme-background border border-theme-primary rounded-e-lg hover:bg-theme-surface hover:text-theme-secondary">
            <span class="sr-only">{{T "next" }}</span>
            <svg class="w-2.5 h-2.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
            </svg>
            </a>
        </li>
     {{ end }}
    </ul>
  </nav>