<audio controls
	class="audio_controls{{ with .Get "class" }} {{ . }}{{ end }}"
	{{ with .Get "id" }}id="{{ . }}"{{ end }}
	{{ with .Get "preload" }}preload="{{ . }}"{{ else }}preload="metadata"{{ end }}
	{{ if or (.Get "style") (.Get "width") (.Get "height") }}
	style="{{ with .Get "style" }}{{ . | safeCSS }}{{ if or (.Get "width") (.Get "height") }}; {{ end }}{{ end }}{{ with .Get "width" }}width: {{ . }};{{ if .Get "height" }} {{ end }}{{ end }}{{ with .Get "height" }}height: {{ . }};{{ end }}"
	{{ end }}
	{{ with .Get "title" }}data-info-title="{{ . }}"{{ end }}
	{{ with .Get "attr" }}data-info-attr="{{ . }}"{{ end }}
	{{ with .Get "attr_link" }}data-info-attr-link="{{ . }}"{{ end }}
	{{ with .Get "year" }}data-info-year="{{ . }}"{{ end }}
	{{ with .Get "artist" }}data-info-artist="{{ . }}"{{ end }}
	{{ with .Get "album_title" }}data-info-album-title="{{ . }}"{{ end }}
	{{ with .Get "album_art" }}data-info-album-art="{{ . }}"{{ end }}
	{{ with .Get "label" }}data-info-label="{{ . }}"{{ end }}
>
	{{ if .Get "src" }}
	<source src="{{ .Get "src" }}"{{ with .Get "type" }} type="audio/{{ . }}"{{ end }}{{ with .Get "codec" }} codecs="{{ . }}"{{ end }}>
	{{ end }}
	{{ if .Get "backup_src" }}
	<source src="{{ .Get "backup_src" }}"{{ with .Get "backup_type" }} type="audio/{{ . }}"{{ end }}{{ with .Get "backup_codec" }} codecs="{{ . }}"{{ end }}>
	{{ end }}
	{{ if .Get "src2" }}
	<source src="{{ .Get "src2" }}"{{ with .Get "type2" }} type="audio/{{ . }}"{{ end }}{{ with .Get "codec2" }} codecs="{{ . }}"{{ end }}>
	{{ end }}
	Your browser does not support the audio element.
</audio>